.app {
  width: 100%;
  background-color: #678ef1;
  padding: 10px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left img {
  width: 5%;
  float: left;
  height: auto;
  border-radius: 50%;
}

.right img {
  width: 10%;
  float: right;
  height: auto;
}
